<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Profile </title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <!--
    Good use of ng-repeat & ng-switch to edit profile data within a object-array.
    @DonRPage
-->
<body ng-app="employeeApp" ng-controller="employeeController">
      <div class="content-wrapper">
        <h2>Profile Editing</h2>

        <div class="everyone-wrapper">
            <section ng-switch on="(editIndex == $index)"
                     ng-repeat="person in employeeArray track by $index"
                     class="clearfix">
                <div class="img-wrapper clearfix">
                    <img src="img/avatar.png">
                </div>
                <div class="info-wrapper clearfix">
                    <!-- Default Information -->
                    <h3 ng-switch-default>{{person.firstName}} {{person.lastName}} <span>| {{person.jobTitle}}</span>
                    </h3>

                    <p ng-switch-default class="p-desc">{{person.jobDesc}}</p>
                    <span ng-switch-default class="from">From: {{person.from.city}}, {{person.from.state}}</span> <span
                        ng-switch-default class="phone">Phone: {{person.phone}}</span> <span ng-switch-default
                                                                                             class="email">Email: {{person.email}}</span>
                    <!-- Edit Fields -->
                    <h3 ng-switch-when="true">
                        <input ng-model="editObject.firstName" placeholder="First Name" type="text"/>
                        <input ng-model="editObject.lastName" placeholder="Last Name" type="text"/>
                        <input ng-model="editObject.jobTitle" placeholder="Job Title" type="text"/>
                    </h3>

                    <p ng-switch-when="true" class="p-desc">
                        <textarea ng-model="editObject.jobDesc" placeholder="Job Description"> </textarea>
                    </p>
                    <span ng-switch-when="true" class="from">
                        <input ng-model="editObject.from.city" id="city" type="text" placeholder="City"/>
                        <input ng-model="editObject.from.state" id="state" type="text" placeholder="ST"/>
                    </span>
                    <span  ng-switch-when="true" class="phone">
                        <input ng-model="editObject.phone" type="text" placeholder="Phone"/>
                    </span>
                    <span  ng-switch-when="true" class="email">
                        <input ng-model="editObject.email" type="text" placeholder="Email"/>
                    </span>

                </div>
                <div class="edit-wrapper clearfix">

                    <!-- Default Buttons -->
                    <button class="yellow" ng-switch-default ng-click="editingPerson($index)">edit</button>
                   <!-- <button class="red" ng-switch-default>trash</button>-->
                  <!--More functionality going to be added later-->

                    <!--Buttons for editing -->
                    <button class="green" ng-switch-when="true" ng-click="saveEdit($index)">save</button>
                    <button class="red" ng-switch-when="true" ng-click="cancelEdit()">X</button>
                </div>

            </section>
        </div>
    </div>
</body>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
